base58==0.2.3
boto3==1.4.0
botocore==1.4.46
click==6.6
docutils==0.12
fdfgen==0.14.0
Flask==0.11.1
futures==3.0.5
hjson==2.0.0
itsdangerous==0.24
Jinja2==2.8
jmespath==0.9.0
kappa==0.6.0
lambda-packages==0.8.0
lxml==3.6.4
MarkupSafe==0.23
pdfminer==20140328
piexif==1.0.5
Pillow==3.3.1
placebo==0.8.1
PyPDF2==1.26.0
python-dateutil==2.5.3
python-slugify==1.2.0
PyYAML==3.11
reportlab==3.3.0
requests==2.11.1
s3transfer==0.1.2
six==1.10.0
tqdm==4.8.3
Unidecode==0.4.19
uWSGI==2.0.13.1
Werkzeug==0.11.10
wsgi-request-logger==0.4.5
zappa==0.21.0
